[general]
type = general
#swap-columns = yes

[dymo11356]
type = profile
rows = 1
columns = 1
height = 44
width = 89
unit = mm
description = Dymo 11356 labels
fields = artist:title:media:sleeve

[a4-8x3]
type = profile
rows = 8
columns = 3
description = A4 sheet with labels, no extra margins
pagesize = A4
